.upcomingTitle {
	background-color: #ff9999;
	padding: 8px;
	text-align: center;
	font-size: 1rem;
}
.moviesAndFilter {
	display: flex;
}

.movies {
	width: 76%;
	margin: 16px;
}
.movies > img {
	cursor: pointer;
}

.filter {
	margin: 16px;
	width: 24%;
}
